<h1 class="text-center"><%= @restaurant.name %></h1>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <p><em> <%= @restaurant.category.capitalize %> </em></p>
      <p><%= @restaurant.address %></p>
    </div>

    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <%= link_to "Back to list", restaurants_path, class: "btn btn-success" %>
      <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-warning" %>
    </div>

    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <% @restaurant.reviews.each do |r| %>
      <li><%= r.content %> - Rating: <%= r.rating %></li>
      <% end %>
    </div>


  </div>
</div>
